@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #020617;
  color: white;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}